In [18]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
pd.set_option('display.max_columns', None)  # отобразить все колонки
pd.set_option('display.max_rows', None)

In [19]:
df = pd.read_csv('../data/_data.with_new_cols.csv')

/var/folders/gh/67ts22d16hb3zwvp89m4r6000000gn/T/ipykernel_88954/2416377651.py:1: DtypeWarning: Columns (28) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data/_data.with_new_cols.csv')

In [20]:
df[['floor', 'n_of_floors', 'build_type']] = df['Дом'].str.extract(r'(\d+)[/\\](\d+),?\s*([А-Яа-яA-Za-z\s]+)?')  # Добавила 3 колонки

In [21]:
df = df.drop_duplicates(
    subset=['Адрес', 'Общая площадь', 'rooms_qty', 'floor', 'n_of_floors', 'Ремонт'],
    keep='first'
).copy() # Убрали дублирующие строки 454

In [22]:
# Ремонт, Можно с детьми/животными, Название ЖК чистое, Парковка, Station, Line, AdmArea, District - заполнение NaN строкой "Данные отсуствуют"

df["Ремонт"] = df["Ремонт"].fillna("Данные отсутствуют")
df["Можно с детьми/животными"] = df["Можно с детьми/животными"].fillna("Данные отсутствуют")
df["Название ЖК чистое"] = df["Название ЖК чистое"].fillna("Данные отсутствуют")
df["Парковка"] = df["Парковка"].fillna("Данные отсутствуют")
df["Station"] = df["Station"].fillna("Данные отсутствуют")
df["Line"] = df["Line"].fillna("Данные отсутствуют")
df["AdmArea"] = df["AdmArea"].fillna("Данные отсутствуют")
df["District"] = df["District"].fillna("Данные отсутствуют")

In [23]:
# Балкон, Окна, Санузел, Телефоны, Описание - заполнение NaN, None значением False(0), значением True(1) - заполненные значения

df["Балкон"] = df["Балкон"].notna().astype(int)
df["Окна"] = df["Окна"].notna().astype(int)
df["Санузел"] = df["Санузел"].notna().astype(int)
df["Телефоны"] = df["Телефоны"].notna().astype(int)
df["Описание"] = df["Описание"].notna().astype(int)

In [24]:
# Создаем новые колонки "Мебель в комнатax" и "Мебель на кухне" из колонки "Дополнительно" - заполняем значениями True/False (0, 1)

df["Мебель в комнатах"] = df["Дополнительно"].str.contains("Мебель в комнатах", na=False).astype(int)
df["Мебель на кухне"] = df["Дополнительно"].str.contains("Мебель на кухне", na=False).astype(int)

In [25]:
df.fillna({'Высота потолков, м': df['Высота потолков, м'].median()}, inplace=True) # Заполнили медианой пропуски

In [26]:
df['Лифт'] = (
    df['Лифт']
    .astype(str)          
    .str.lower().str.strip()
    .apply(lambda x: 0 if x == 'nan' else 1)
)  # Значения в колонке Лифт заменены на 1 - есть значение / - nan

In [27]:
df['Мусоропровод'] = df['Мусоропровод'].fillna('Данные отсутствуют') # Заменили NaN на 'Данные отсутствуют'
df['room_type'] = df['room_type'].fillna('Данные отсутствуют') # Заменили NaN на 'Данные отсутствуют'
df['build_type'] = df['build_type'].fillna('Данные отсутствуют') # Заменили NaN на 'Данные отсутствуют'

In [28]:
df['Город'] = df['Город'].apply(lambda x: 1 if x == 'Москва' else 0) # Закодировали 'Город' 1/0

In [29]:
df[['street', 'bld.']] = df['Адрес'].str.split(',',expand=True).iloc[:, 1:3] # Выделили адрес в две колонки streen, bld.

In [30]:
# Оставляем в датафрейме только предложения со стоимостью, указанной в рублях
df = df[df['Цена'].str.contains("руб", case=False, na=True)]

In [31]:
# Разделение параметра 'Путь до метро' на 2 - время (int) и досягаемость (пешком/на машине)
df[['Время до метро', 'Досягаемость']] = df['Путь до метро'].str.extract(r'(\d+)\s*мин\s*(.*)')
df['Время до метро'] = pd.to_numeric(df['Время до метро'], errors='coerce').astype('Int64')

In [32]:
#df['Время до метро'] = df['Время до метро'].fillna('Данные отсутствуют') # Заменили NaN на 'Данные отсутствуют'

In [45]:
df = df.drop(['Unnamed: 0','Количество комнат', 'Дом', 'Название ЖК', 'Тип', 'Метро', 'Адрес', 'Площадь, м2', 'Цена', 'Площадь комнат, м2',
              'Дополнительно', 'Серия дома', 'Ссылка на объявление', 'ЖК год', 'Станция', 'Путь до метро'], axis=1)

In [46]:
missing_counts = df.isna().sum()
unique_counts = df.nunique(dropna=False)
df_types = df.dtypes
summary = pd.DataFrame({
    'Пропуски (шт.)': missing_counts,
    'Уникальных значений (вкл. NaN)': unique_counts,
    'Типы данных': df_types
})
summary

,Пропуски (шт.),Уникальных значений (вкл. NaN),Типы данных
ID объявления,0,19261,int64
Парковка,0,6,object
Телефоны,0,1,int64
Описание,0,1,int64
Ремонт,0,5,object
Балкон,0,2,int64
Окна,0,2,int64
Санузел,0,2,int64
Можно с детьми/животными,0,4,object
"Высота потолков, м",0,88,float64
Лифт,0,2,int64
Мусоропровод,0,3,object
Город,0,1,int64
Цена за месяц,0,530,int64
Название ЖК чистое,0,500,object
Общая площадь,0,915,float64
rooms_qty,0,7,int64
room_type,0,4,object
Station,0,278,object
Line,0,73,object
AdmArea,0,15,object
District,0,117,object
floor,0,62,object
n_of_floors,0,73,object
build_type,0,10,object
Мебель в комнатах,0,2,int64
Мебель на кухне,0,2,int64
street,0,1712,object
bld.,0,2149,object
Время до метро,0,61,Int64
Досягаемость,0,3,object

In [ ]:
df.fillna({'Время до метро': df['Время до метро'].median()}, inplace=True) # Заполнили медианой пропуски

In [43]:
df['Досягаемость'] = df['Досягаемость'].fillna('Данные отсутствуют') # Заменили NaN на 'Данные отсутствуют'

In [47]:
df.head()

,ID объявления,Парковка,Телефоны,Описание,Ремонт,Балкон,Окна,Санузел,Можно с детьми/животными,"Высота потолков, м",Лифт,Мусоропровод,Город,Цена за месяц,Название ЖК чистое,Общая площадь,rooms_qty,room_type,Station,Line,AdmArea,District,floor,n_of_floors,build_type,Мебель в комнатах,Мебель на кухне,street,bld.,Время до метро,Досягаемость
0,271271157,подземная,1,1,Дизайнерский,0,0,0,"Можно с детьми, Можно с животными",3.0,1,Да,1,500000,Новый Арбат,200.0,4,Данные отсутствуют,Смоленская,Арбатско-Покровская линия; Филёвская линия,Центральный административный округ,район Арбат,5,16,Монолитный,1,1,улица Новый Арбат,27,9,пешком
1,271634126,подземная,1,1,Дизайнерский,0,1,1,Можно с детьми,3.5,1,Нет,1,500000,Новый Арбат,198.0,4,Данные отсутствуют,Смоленская,Арбатско-Покровская линия; Филёвская линия,Центральный административный округ,район Арбат,5,16,Монолитно,1,1,улица Новый Арбат,27,8,пешком
2,271173086,подземная,1,1,Евроремонт,0,1,1,Можно с детьми,3.2,1,Данные отсутствуют,1,500000,Новый Арбат,200.0,4,Оба варианта,Смоленская,Арбатско-Покровская линия; Филёвская линия,Центральный административный округ,район Арбат,5,16,Данные отсутствуют,1,1,улица Новый Арбат,27,7,пешком
3,272197456,подземная,1,1,Евроремонт,0,1,1,Можно с животными,3.2,1,Данные отсутствуют,1,400000,Данные отсутствуют,170.0,4,Оба варианта,Смоленская,Арбатско-Покровская линия; Филёвская линия,Центральный административный округ,район Арбат,5,6,Данные отсутствуют,1,1,переулок Плотников,21С1,3,пешком
4,273614615,Данные отсутствуют,1,1,Евроремонт,0,1,1,Данные отсутствуют,3.9,1,Да,1,225000,The Book,58.0,2,Данные отсутствуют,Арбатская,Арбатско-Покровская линия; Филёвская линия,Центральный административный округ,район Арбат,12,26,Панельный,1,1,улица Новый Арбат,15,7,пешком