In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
pd.set_option('display.max_columns', None)  # отобразить все колонки
pd.set_option('display.max_rows', None)

In [2]:
df = pd.read_csv('../data/_data.with_new_cols.csv')

/var/folders/gh/67ts22d16hb3zwvp89m4r6000000gn/T/ipykernel_85769/2416377651.py:1: DtypeWarning: Columns (28) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../data/_data.with_new_cols.csv')

In [3]:
df[['floor', 'n_of_floors', 'build_type']] = df['Дом'].str.extract(r'(\d+)[/\\](\d+),?\s*([А-Яа-яA-Za-z\s]+)?')  # Добавила 3 колонки

In [ ]:
df = df.drop_duplicates(
    subset=['Адрес', 'Общая площадь', 'rooms_qty', 'floor', 'n_of_floors', 'Ремонт'],
    keep='first'
).copy() # Убрали дублирующие строки 454

In [5]:
df.fillna({'Высота потолков, м': df['Высота потолков, м'].median()}, inplace=True) # Заполнили медианой пропуски

In [22]:
df['Высота потолков, м'].max()

np.float64(320.0)

In [ ]:
df['Лифт'] = (
    df['Лифт']
    .astype(str)          
    .str.lower().str.strip()
    .apply(lambda x: 0 if x == 'nan' else 1)
)  # Значения в колонке Лифт заменены на 1 - есть значение / - nan

In [46]:
df['Мусоропровод'] = df['Мусоропровод'].fillna('Данные отсутствуют') # Заменили NaN на 'Данные отсутствуют'
df['room_type'] = df['room_type'].fillna('Данные отсутствуют') # Заменили NaN на 'Данные отсутствуют'
df['build_type'] = df['build_type'].fillna('Данные отсутствуют') # Заменили NaN на 'Данные отсутствуют'

In [ ]:
df['Город'] = df['Город'].apply(lambda x: 1 if x == 'Москва' else 0) # Закодировали 'Город'

In [54]:
df[['street', 'bld.']] = df['Адрес'].str.split(',',expand=True).iloc[:, 1:3] # Выделили адрес в две колонки streen, bld.

In [53]:
missing_counts = df.isna().sum()
unique_counts = df.nunique(dropna=False)
df_types = df.dtypes
summary = pd.DataFrame({
    'Пропуски (шт.)': missing_counts,
    'Уникальных значений (вкл. NaN)': unique_counts,
    'Типы данных': df_types
})
summary

,Пропуски (шт.),Уникальных значений (вкл. NaN),Типы данных
Unnamed: 0,0,19283,int64
ID объявления,0,19283,int64
Количество комнат,521,25,object
Тип,0,1,object
Метро,341,4830,object
Адрес,0,10452,object
"Площадь, м2",16934,423,float64
Дом,0,2396,object
Парковка,10964,6,object
Цена,0,2192,object
Телефоны,0,11514,object
Описание,0,19032,object
Ремонт,2432,5,object
"Площадь комнат, м2",7045,3358,object
Балкон,6445,19,object
Окна,5009,4,object
Санузел,1975,21,object
Можно с детьми/животными,4812,4,object
Дополнительно,265,485,object
Название ЖК,14973,1129,object
Серия дома,17206,369,object
"Высота потолков, м",0,88,float64
Лифт,0,2,int64
Мусоропровод,0,3,object
Ссылка на объявление,0,19283,object
Город,0,1,int64
Цена за месяц,0,537,int64
Название ЖК чистое,14973,501,object
ЖК год,16285,77,object
Общая площадь,0,917,float64
rooms_qty,0,7,int64
room_type,0,4,object
Станция,341,278,object
Путь до метро,341,96,object
Station,554,265,object
Line,554,72,object
AdmArea,554,20,object
District,642,119,object
floor,0,62,object
n_of_floors,0,73,object
build_type,0,10,object
street,0,1714,object
bld.,0,2150,object